body {
	margin: 0px;

	padding: 0px;
}

* {box-sizing: border-box;}

section {background: grey;
border: 1px solid black;
margin: 25px;
}

h1 {text-align: center}

h3 {margin: 0px;
padding: 0px;
float: right;
border: 1px solid black;
width: 120px;
text-align: center;
}

p {
	clear: both;
margin: 20px;
}

#h1 {background: pink;}

#h2 {background: #ff0000}

#h3 {background: brown}

@media (min-width: 992px) {

	section {width: 27%;}

	section{float: left}
}

@media (min-width: 768px) and (max-width: 991px) {

	#s1, #s2 {width: 40%;}

	#s3 {width: 85%;}

	section {float: left;}
}	
	

@media (max-width: 767px) {

	section {width: 80%;}

	section {float: left;}
}